<h1>{{title}}</h1>

<table>
  <tr>
    <td>id</td>
    <td>Name</td>
    <td>Professor</td>
  </tr>
  {{#each inhaClass}}
    <tr>
      <td>{{id}}</td>
      <td>{{Name}}</td>
      <td>{{Professor}}</td>
    </tr>
  {{/each}}
</table>